<div class="main-body">
    <h1>About Hall & Johnson LLP </h1>
  <div id="menu">
    <ul class="about-menu">
      <li class="selected">
        <%= link_to_unless_current "About  Hall & Johnson", about_us_path %>
      </li>
      <li>
        <%= link_to_unless_current "Our Technology", our_technology_path %>
      </li>
      <!--
      <tr>
        <td><a href="latest-news.htm">Latest News</a></td>
      </tr>
      -->
      <li>
        <%= link_to_unless_current "Terms of Use", terms_of_use_path %>
      </li>
      <li>
        <%= link_to_unless_current "Privacy Policy", policy_path %>
      </li>
    </ul>
  </div>
  <div>
    <p>The litigation law firm of Hall & Johnson LLP has been a pioneer in the use of integrated computer technology and its application in the practice of law. Employing voice recognition software, computerized legal research and law firm management and accounting software from its inception, the firm eliminated the need for layers of staff and, at the same time, established its reputation for being able to respond with unmatched quickness to complex litigation matters, such as injunctions. </p>
    <p>The firm maintains its advantage through an unparalleled expertise, across the firm, in the use of integrated electronic document imaging and integrated electronic transcript and document management. Hall & Johnson offers clients a mix of skills they are unlikely to encounter elsewhere: where else can you retain senior, experienced litigation lawyers who, themselves, are able to implement the information technology needed to be successful in modern litigation? Because of their ability to use the technology, Hall & Johnson does not require layers of supporting lawyers and staff to conduct litigation. We deliver cost effective, high quality legal work.</p>
    <h3 class="quote">Where else can you retain senior, experienced litigation<br>lawyers who, themselves, are able to implement the information technology needed to be successful in modern litigation?</h3>
    <p>Hall & Johnson believes that no law firm can be all things to all people and, from its inception, chose to restrict its practice to litigation and dispute resolution in the areas of commercial &amp; corporate litigation, construction litigation, environmental litigation, employment litigation, estate litigation, tax litigation and professional negligence litigation. These are complex areas of the law where clients are best served by experienced lawyers.</p>
    <p>Hall & Johnson, although a small firm in total numbers, is a large firm within its restricted areas of practice. The firm can confidently state that it has the resources to handle any type or size of litigation and offers an alternative to those clients who think that they must pursue large and complex commercial, corporate and environmental litigation cases at great cost only at Canada's largest law firms.</p>
  </div>
</div>

