<div class="main-body">
  <h1>Our Technology </h1>
  <div id="menu">
    <ul class="about-menu">
      <li>
        <%= link_to_unless_current "About  Hall & Johnson", about_us_path %>
      </li>
      <li class="selected">
        <%= link_to_unless_current "Our Technology", our_technology_path %>
      </li>
      <!--
      <tr>
        <td><a href="latest-news.htm">Latest News</a></td>
      </tr>
      -->
      <li>
        <%= link_to_unless_current "Terms of Use", terms_of_use_path %>
      </li>
      <li>
        <%= link_to_unless_current "Privacy Policy", policy_path %>
      </li>
    </ul>
    <p align="center"><a href="http://www.korbitec.ca" target="_blank"><img src="/assets/automated_civil%5B1%5D.gif" alt="Automated Civil Litigation" width="145" height="38" border="0"></a><a href="http://www.talk2me.com" target="_blank"><img style="padding-top:25px;" src="/assets/talkme%5B1%5D.gif" alt="Talk2Me Technologies" width="131" height="68" border="0"></a><a href="http://www.lexisnexis.ca/ql/en/about/about.html" target="_blank"><img style="padding-top:25px;" src="/assets/quicklaw%5B1%5D.gif" alt="LexisNexis Quicklaw" width="157" height="60" border="0"></a><a href="http://www.nuance.com/naturallyspeaking/" target="_blank"><img style="padding-top:25px;" src="/assets/dragon%5B1%5D.gif" alt="Dragon NaturallySpeaking" width="176" height="43" border="0"></a><a href="http://www.commonwealthlegal.com" target="_blank"><img style="padding-top:25px;" src="/assets/commonwealth%5B1%5D.gif" alt="Commonwealth Legal" width="163" height="60" border="0"></a><a href="http://www.amicusattorney.com/" target="_blank"><img src="/assets/amicus%5B1%5D.gif" style="padding-top:25px;" alt="Amicus Attorney" width="75" height="60" border="0"></a><a href="http://www.ctsummation.com/" target="_blank"><img style="padding-top:25px;" src="/assets/summation%5B1%5D.gif" alt="Summation" width="185" height="24" border="0"></a><a href="http://law.lexisnexis.com/pclaw" target="_blank"><img style="padding-top:25px;" src="/assets/pc_law%5B1%5D.gif" alt="PCLaw" width="122" height="23" border="0"></a>
      <a href="https://www.gotomypc.com/" target="_blank"><img style="padding-top:25px;" src="/assets/gotomypc.gif" alt="GoToMyPC" width="145" height="29" border="0"></a>

      <a href="http://www.sharefile.com/" target="_blank"><img style="padding-top:25px;" src="/assets/sharefile.gif" alt="ShareFile" width="145" height="62" border="0"></a>         </p>
  </div>
  <div>


    <p>The modern world of computers and fax machines have created far more paper and electronic records then anyone contemplated 15 years ago. Most commercial, environmental and construction litigation cases involve thousands of documents. Lawyers cannot effectively manage thousands of documents in paper form. Soon, through the electronic discovery process, paper will largely cease to exist in litigation as lawyers employ electronic discovery techniques.  Hall & Johnson is ready to employ electronic discovery; indeed our lawyers have presented papers to other members of the profession.  In the paper world, Hall & Johnson creates electronic images of all documents and, for those clients who are prepared to invest the time, can provide mirrored and compatible in-house document management systems for complex litigation. Electronic documents can be searched for keywords, readily organized in many ways, marked and manipulated quickly and efficiently, leading to highly effective document use and vast cost savings.</p>
    <h2>Voice Recognition Software</h2>
    <p> Hall & Johnson has no traditional secretaries.  All lawyers prepare their own documents.  Historically, lawyers used dictaphones.  Hall & Johnson uses voice recognition software to dictate straight to the computer.  This permits Hall & Johnson to have remarkably prompt turnaround and allows immediate response to emergent situations.</p>
    <h2>Practice Management Software</h2>
    <p>Hall & Johnson utilizes comprehensive management software that permits the lawyers to readily generate documents, including letters, to any of thousands of people at the push of a button. The system also creates a readily accessible electronic record of all telephone calls, facsimiles, e-mails and documents. Any of the firm's lawyers can obtain access to the electronic record instantly. This permits Hall & Johnson to bring as many additional lawyers to the file as the task requires and permits those lawyers to quickly and confidently familiarize themselves with the file.</p>
    <h2>Litigation Software</h2>
    <p>Hall & Johnson does not need to rely on assistants to produce litigation documents. Litigation software, integrated with our other technologies, permits the production of customized court documents with ease, promoting prompt turnaround and cost efficiencies.</p>
    <h2>Computerized Legal Research</h2>
    <p> All of our senior lawyers are capable of and confident in computer legal research.  Most law firms have &ldquo;backroom people&rdquo; to do the computer legal research but rarely do they combine the experience of senior lawyers who know the file with computer research capability. Hall & Johnson' experienced litigation lawyers conduct focused computer legal research that translates into effective strategies and cost savings for clients.</p>
    <h2>Accounting Software</h2>
    <p>Most modern businesses employ accounting software. Hall & Johnson merges that software with practice management software, enhancing its ability to produce the accurate records that clients require on very short notice.</p>
  </div>
</div>

