<div class="main-body">
  <h1>Privacy Policy </h1>
  <div id="menu">
    <ul class="about-menu">
      <li>
        <%= link_to_unless_current "About  Hall & Johnson", about_us_path %>
      </li>
      <li>
        <%= link_to_unless_current "Our Technology", our_technology_path %>
      </li>
      <!--
      <tr>
        <td><a href="latest-news.htm">Latest News</a></td>
      </tr>
      -->
      <li>
        <%= link_to_unless_current "Terms of Use", terms_of_use_path %>
      </li>
      <li class="selected">
        <%= link_to_unless_current "Privacy Policy", policy_path %>
      </li>
    </ul>
  </div>
  <div>
    <h2>Personal Information Protection and Electronic Documents Act (PIPEDA) </h2>
    <p>Hall & Johnson LLP  recognizes the importance of privacy and the sensitivity of personal information. As lawyers we have a professional obligation to keep confidential all information we receive within a lawyer-client relationship. We are committed to protecting any personal information we hold. </p>
    <p><strong>Your Privacy Rights<br>
    </strong>From January 1, 2004, all businesses must comply with the Personal Information Protection and Electronic Documents Act. These obligations extend to lawyers and law firms, including Hall & Johnson LLP. The Act gives individuals rights concerning the privacy of their personal information. </p>
    <p><strong>Why We Need Personal Information?<br>
    </strong>Hall & Johnson LLP provides legal services and products to a wide range of clients. In doing so, we need to collect personal information for various reasons including: understanding client needs, representing our clients, meeting legal, regulatory and contractual requirements, maintaining client contact information, and providing materials concerning our services and developments in the law. </p>
    <p><strong>What personal information do we collect?<br>
    </strong>Personal information is any information about an individual. This could include information such as age, identification numbers, income, ethnic origin, credit or banking information, employee records, medical records, and any information relevant to the issue for which we have been retained. We must collect and use such personal information to provide legal services. This information may be about our clients, or may be about individuals who are not clients, but are involved in transactions, matters or disputes with clients. </p>
    <p><strong>How do we collect personal information? </strong><br>
      We collect personal information in the normal course of client representation and only by lawful and reasonable means. We collect personal information directly from our clients and also obtain information from sources other than the individual: for example, insurance companies, real estate agents in a property transaction, government agencies or registries, employers, accountants, internally generated work product, and other parties to a transaction, matter or dispute. </p>
    <p><strong>Consent</strong><br>
      In most cases, we ask individuals to specifically consent, if we collect, use, or disclose their personal information where such collection, use and disclosure is such that it would not be considered normal for a law firm&rsquo;s representation of a client. Permission may be expressed in writing or be implied and may be given to us verbally, electronically, or through an authorized representative. Individuals may withdraw permission to collect, use and disclose their personal information at any time, subject to legal and contractual restrictions and reasonable notice. Sometimes consent is implied through conduct with us. </p>
    <p><strong>Use of Personal Information </strong><br>
      We use personal information to provide legal advice and services to clients, to administer client accounting and to include clients in any direct marketing activities. If an individual tells us they no longer wish to receive information about our services, or about new developments in the law, we will not send any further material. Hall & Johnson LLP does not disclose personal information to any third parties to enable them to market their products and services. </p>
    <p><strong>Disclosure of your Personal Information </strong><br>
      Under certain circumstances, Hall & Johnson LLP will disclose personal information; such as: when we are required or authorized by law or ethical reasons to do so, for example by court order or pursuant to exemptions to consents provided in applicable privacy legislation; when an individual has consented to the disclosure; when the legal services we are providing requires us to give information to third parties (for example a lender in a real estate mortgage transaction, or as necessary for court actions); where it is necessary to establish or collect fees; if we engage a third party to provide administrative services to us (like computer back-up services or archival file storage) and the third party is bound by privacy obligations; if we engage expert witnesses on a client&rsquo;s behalf; if we retain other law firms in other jurisdictions on a client&rsquo;s behalf; if the information is already publicly known, or if our law firm was to merge with another or otherwise become part of another firm. </p>
    <p><strong>Updating Personal Information </strong><br>
      It is important that the information be accurate and up-to-date. If during the course of the retainer, any personal information changes, the individual should inform us so we can make any necessary changes. If Hall & Johnson LLP holds information about an individual that the individual can show is not accurate, complete and up-to-date, Hall & Johnson LLP will take reasonable steps to correct it. </p>
    <p><strong>Is My Personal Information Secure? </strong><br>
      Hall & Johnson LLP takes all reasonable precautions to ensure that personal information is kept safe from loss, unauthorized access, modification or disclosure. Among the steps taken to protect personal information are: premises security; restricted file access; deploying technological safeguards like security software and firewalls; and internal password and security policies. </p>
    <p><strong>Access to Personal Information </strong><br>
      Individuals may ask for access to any personal information we hold about them. Summary information is available on request. More detailed requests which require archive or other retrieval costs may be subject to our normal professional and disbursement fees. </p>
    <p><strong>Can I be Denied Access to My Personal Information? </strong><br>
      An individual&rsquo;s right to access their personal information is not absolute. We may deny access when, for example: denial of access is required or authorized by law (for example, when a record containing personal information is subject to a claim of legal professional privilege by one of our clients, or is allowed under relevant privacy legislation); information relates to existing or anticipated legal proceedings against the individual; granting access would have an unreasonable impact on other people's privacy; to do so would prejudice negotiations; to protect our firm's rights and property; or the request is frivolous or vexatious. Certain ethical, procedural and confidentiality rules may prevent access in certain circumstances. If an individual is represented by other counsel for a dispute or transaction, we are not able to discuss privacy or other matters directly with that person. In those circumstances, the individual&rsquo;s counsel must contact us. If we deny a request for access to, or refuse a request to correct information, we shall explain why. </p>
    <p><strong>Communicating with Hall & Johnson LLP </strong><br>
      Some view Internet e-mail as less confidential than other more traditional forms of communication. If a client does not wish us to use Internet e-mail, please advise us in writing. </p>
    <p><strong>Changes to this Privacy Policy </strong><br>
      Hall & Johnson LLP regularly reviews all of its policies and procedures. We may change our Privacy Policy from time to time. </p>
    <p><strong>Website </strong><br>
      Our website contains links to other sites, which are not governed by this privacy policy. On our website, like most other commercial websites, we may monitor traffic patterns, site usage and related site information in order to optimise our web service. We may provide aggregated information to third parties, but these statistics do not include any identifiable personal information. </p></div>
</div>

