<div class="main-body">
  <h1>Terms of Use </h1>
  <div id="menu">
    <ul class="about-menu">
      <li>
        <%= link_to_unless_current "About  Hall & Johnson", about_us_path %>
      </li>
      <li>
       <%= link_to_unless_current "Our Technology", our_technology_path %>
      </li>
      <!--
      <tr>
        <td><a href="latest-news.htm">Latest News</a></td>
      </tr>
      -->
      <li class="selected">
        <%= link_to_unless_current "Terms of Use", terms_of_use_path %>
      </li>
      <li>
        <%= link_to_unless_current "Privacy Policy", policy_path %>
      </li>
    </ul>
  </div>
  <div>
    <h2><STRONG>Trademarks &amp; Copyrights</STRONG></h2>
    <P>Hall & Johnson LLP owns and operates the Hall & Johnson Web Site. Hall & Johnson LLP and related words, domain names and logos are the property of Hall & Johnson and are the subject of application for trademarks. All other trademarks, product names and company names or logos cited herein are the property of their respective owners.</P>
    <P>The material contained on the Hall & Johnson LLP web site, including all portions of the Web Site, content, site design, text, graphics, and the selection and arrangement thereof are Copyright Hall & Johnson LLP. ALL RIGHTS RESERVED.</P>
    <P>No material from the Web Site or any web site owned, operated, licensed or controlled by Hall & Johnson LLP or its licensors, may be copied, reproduced, republished, posted, transmitted or distributed in any way. The user may print, in hard copy, portions of the Web Site only for the purpose of referencing the information offline. The use of any such material for any other reason, on any other web site, or the modification, distribution or republication of this material without prior written permission from Hall & Johnson LLP is strictly prohibited. </P>
    <h2><STRONG>Disclaimer &amp; Limitations of Liability</STRONG></h2>
    <P>The web site and the information or materials herin are provided on an &ldquo;as is, where is&rdquo; basis. Hall & Johnson LLP makes no representations or warranties, either expressed or implied, of any kind with respect to this web site or its contents. Hall & Johnson LLP disclaims all warranties, express or implied, including, but not limited to, merchantability and fitness for a particular purpose. By using or attempting to use the web site, the user expressly acknowledges that Hall & Johnson LLP makes no warranties or representations regarding the content of the web site: (i) There are no warranties or representations made regarding the content of the web site in terms of how current it is, its accuracy, or its completeness; and (ii) As a service to users of the web site, Hall & Johnson LLP may include links to other web sites over which Hall & Johnson LLP has no control. Hall & Johnson LLP provides no endorsement or representation of any kind regarding the products, services, content or appropriateness of content of such web sites, and the user hereby irrevocably waives any claim against Hall & Johnson LLP with respect to such websites. </P>
    <h2><STRONG>Users</STRONG></h2>
    <P>The user acknowledges that any content, offers, information, opinions (including without limitation, reviews) (&quot;Content&quot;) he or she may provide to the Web Site becomes the property of Hall & Johnson LLP, including all copyright, without reservation, and user waives in favour of Hall & Johnson LLP any and all moral rights in such Content. The user acknowledges and agrees that all or any portion of the Content may be used, edited, reproduced, published, translated, sublicensed, copied and distributed and/or incorporated into other works in any form, media, or technology now known or hereafter developed for the full term of any copyright that may exist in such Content, without compensation of any kind to the user.</P>
    <P>By submitting Content to Hall & Johnson LLP, the user automatically warrants that he/she has the full right and authority to submit such Content, and that none of such Content is subject to any copyright or other proprietary right of a third party.</P>
    <P>Any Content expressed or made available by third parties, including any other user of the Web Site, are those of the respective third parties and  its licensors, or any of their officers, directors, employees or agents.</P>
    <P>The owners and operators of the Web Site reserve the right to not publish, or to remove any Content that they deem in their sole discretion, to be inappropriate for the Web Site, for any reason whatsoever.</P>
    <h2><STRONG>Governing Law &amp; Jurisdiction</STRONG></h2>
    <P>The Web Site (excluding linked web sites) is controlled by Hall & Johnson LLP from its offices within the Province of Ontario, Canada. The Web Site can be accessed from all provinces and territories of Canada, as well as from other countries around the world. As each of these jurisdictions has laws that may differ from those of the Province of Ontario, by accessing the Web Site, the user agrees that all matters relating to access to, or use of, the Web Site, or any other hyperlinked web site, shall be governed by the laws of the Province of Ontario and the federal laws of Canada applicable therein. The user also agrees and hereby submits to the exclusive personal jurisdiction and venue of the courts of the Province of Ontario and acknowledges that the user does so voluntarily and is responsible for complying with local laws.</P>
    <h2><STRONG>No Solicitation</STRONG></h2>
    <P>The Web Site and the information contained herein does not constitute an offer or a solicitation of an offer for the purchase or sale of any securities.</P>
  </div>
</div>

