<div id="footer">
 <ul class="sm">
   <li><%= link_to "Terms of Use", terms_of_use_path %></li>
   <li><%= link_to "Privacy Policy", policy_path %></li>
   <span style="float: right;">Copyright 2010  Hall & Johnson LLP. All rights reserved</span>
 </ul>
</div>